<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon.png</string>
		<key>mainImage</key>
		<string>健身房1.jpg</string>
		<key>name</key>
		<string>man1</string>
		<key>sign</key>
		<string>nothing 2 do </string>
		<key>mainText</key>
		<string>测试数据 一行</string>
		<key>peopleWhoLike</key>
		<array/>
		<key>comments</key>
		<array>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>lallala</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第二个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第三个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>沙发</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>板凳</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>666</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>呵呵</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>又有意义有意义有意义有意义有意义有iiiiiiiiiiiiiiiii一一一一一一一一一一一一一一有意义有意义      吞吞吐吐意义有意义有意义有意义有意义有意义</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>都是</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon.png</string>
		<key>mainImage</key>
		<string>健身房2.jpg</string>
		<key>name</key>
		<string>man 2</string>
		<key>sign</key>
		<string>go 4 it </string>
		<key>mainText</key>
		<string></string>
		<key>peopleWhoLike</key>
		<array/>
		<key>comments</key>
		<array>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>lallala</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第二个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第三个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>沙发</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>板凳</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>666</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>呵呵</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>又有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>都是</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon.png</string>
		<key>mainImage</key>
		<string>健身房3.jpg</string>
		<key>name</key>
		<string>its me </string>
		<key>sign</key>
		<string>just try </string>
		<key>mainText</key>
		<string>嘎嘎嘎灌灌灌灌灌各个各个嘎嘎嘎灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌个灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌个嘎嘎嘎灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌</string>
		<key>peopleWhoLike</key>
		<array/>
		<key>comments</key>
		<array>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>lallala</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第二个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第三个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>沙发</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>板凳</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>666</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>呵呵</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>又有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>都是</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon.png</string>
		<key>mainImage</key>
		<string>健身房4.jpg</string>
		<key>name</key>
		<string>still me </string>
		<key>sign</key>
		<string>go go go </string>
		<key>mainText</key>
		<string>2123</string>
		<key>peopleWhoLike</key>
		<array/>
		<key>comments</key>
		<array>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>lallala</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第二个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第三个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>沙发</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>板凳</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>666</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>呵呵</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>又有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>都是</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon.png</string>
		<key>mainImage</key>
		<string>健身房5.jpg</string>
		<key>name</key>
		<string>hang on</string>
		<key>sign</key>
		<string>hello</string>
		<key>mainText</key>
		<string>的顶顶顶顶顶的顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶</string>
		<key>peopleWhoLike</key>
		<array/>
		<key>comments</key>
		<array>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>lallala</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第二个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第三个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>沙发</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>板凳</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>666</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>呵呵</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>又有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>都是</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon.png</string>
		<key>mainImage</key>
		<string>健身房1.jpg</string>
		<key>name</key>
		<string>new here</string>
		<key>sign</key>
		<string>come on</string>
		<key>mainText</key>
		<string>得到</string>
		<key>peopleWhoLike</key>
		<array/>
		<key>comments</key>
		<array>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>lallala</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第二个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第三个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>沙发</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>板凳</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>666</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>呵呵</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>又有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>都是</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon.png</string>
		<key>mainImage</key>
		<string>健身房2.jpg</string>
		<key>name</key>
		<string>here</string>
		<key>sign</key>
		<string>1</string>
		<key>mainText</key>
		<string></string>
		<key>peopleWhoLike</key>
		<array/>
		<key>comments</key>
		<array>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>lallala</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第二个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第三个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>沙发</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>板凳</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>666</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>呵呵</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>又有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>都是</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon.png</string>
		<key>mainImage</key>
		<string>健身房3.jpg</string>
		<key>name</key>
		<string>2</string>
		<key>sign</key>
		<string>3</string>
		<key>mainText</key>
		<string></string>
		<key>peopleWhoLike</key>
		<array/>
		<key>comments</key>
		<array>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>lallala</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第二个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第三个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>沙发</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>板凳</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>666</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>呵呵</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>又有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>都是</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon.png</string>
		<key>mainImage</key>
		<string>健身房4.jpg</string>
		<key>name</key>
		<string>4</string>
		<key>sign</key>
		<string>123</string>
		<key>mainText</key>
		<string></string>
		<key>peopleWhoLike</key>
		<array/>
		<key>comments</key>
		<array>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>lallala</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第二个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第三个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>沙发</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>板凳</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>666</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>呵呵</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>又有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>都是</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon.png</string>
		<key>mainImage</key>
		<string>健身房5.jpg</string>
		<key>name</key>
		<string>123</string>
		<key>sign</key>
		<string>123</string>
		<key>mainText</key>
		<string></string>
		<key>peopleWhoLike</key>
		<array/>
		<key>comments</key>
		<array>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>lallala</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第二个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第三个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>沙发</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>板凳</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>666</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>呵呵</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>又有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>都是</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon.png</string>
		<key>mainImage</key>
		<string>健身房1.jpg</string>
		<key>name</key>
		<string>321</string>
		<key>sign</key>
		<string>321</string>
		<key>mainText</key>
		<string></string>
		<key>peopleWhoLike</key>
		<array/>
		<key>comments</key>
		<array>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>lallala</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第二个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第三个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>沙发</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>板凳</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>666</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>呵呵</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>又有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>都是</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon.png</string>
		<key>mainImage</key>
		<string>健身房2.jpg</string>
		<key>name</key>
		<string>gogo</string>
		<key>sign</key>
		<string>gogoogog</string>
		<key>mainText</key>
		<string></string>
		<key>peopleWhoLike</key>
		<array/>
		<key>comments</key>
		<array>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>lallala</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第二个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>第三个</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>沙发</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>板凳</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>666</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>呵呵</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>又有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义有意义</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>test</string>
				<key>icon</key>
				<string>icon.png</string>
				<key>text</key>
				<string>都是</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
