<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>count</key>
		<string>3625</string>
		<key>distance</key>
		<string>1.8</string>
		<key>icon</key>
		<string>能源部落健身房_icon.png</string>
		<key>name</key>
		<string>能源部落健身房</string>
		<key>address</key>
		<string>杭州市拱墅区方虎路38号</string>
		<key>phone</key>
		<string>0571-22860030</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蓝堡斯巴达健身</string>
		<key>phone</key>
		<string>0571-25887560</string>
		<key>address</key>
		<string>杭州市西湖区留和路288号</string>
		<key>icon</key>
		<string>蓝堡斯巴达健身_icon.png</string>
		<key>distance</key>
		<string>2.6</string>
		<key>count</key>
		<string>1589</string>
	</dict>
	<dict>
		<key>name</key>
		<string>骄阳健身工作室</string>
		<key>phone</key>
		<string>0571-25887560</string>
		<key>address</key>
		<string>杭州市西湖区留下街道21号</string>
		<key>icon</key>
		<string>骄阳健身工作室_icon.png</string>
		<key>distance</key>
		<string>3.1</string>
		<key>count</key>
		<string>2258</string>
	</dict>
	<dict>
		<key>name</key>
		<string>千人健身房</string>
		<key>phone</key>
		<string>0571-89898989</string>
		<key>address</key>
		<string>杭州市西湖区方虎路20号</string>
		<key>icon</key>
		<string>千人健身房_icon.png</string>
		<key>distance</key>
		<string>1</string>
		<key>count</key>
		<string>2225</string>
	</dict>
	<dict>
		<key>name</key>
		<string>洛克健身工作室</string>
		<key>phone</key>
		<string>0571-87219380</string>
		<key>address</key>
		<string>滨江区丹枫路1075号雪峰大厦5楼(星光大道旁)</string>
		<key>icon</key>
		<string>洛克健身工作室_icon.png</string>
		<key>distance</key>
		<string>1234</string>
		<key>count</key>
		<string>1234</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CrossFit Qiantang凤凰御元店</string>
		<key>phone</key>
		<string>15057123112</string>
		<key>address</key>
		<string>上城区凤凰山脚路凤凰御元艺术基地1138园区A2-102(近绿色房子)</string>
		<key>icon</key>
		<string>CrossFit Qiantang_icon.png</string>
		<key>distance</key>
		<string>123</string>
		<key>count</key>
		<string>123</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乐刻运动健身</string>
		<key>phone</key>
		<string>0571-85050750</string>
		<key>address</key>
		<string>拱墅区丰潭路380号城西银泰城A座1002(城西银泰城)</string>
		<key>icon</key>
		<string>乐刻运动健身_icon.png</string>
		<key>distance</key>
		<string>1</string>
		<key>count</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杭州斯文女子健身</string>
		<key>phone</key>
		<string>0571-88862228</string>
		<key>address</key>
		<string>上城区望江东路332号万泰城206(万泰城)</string>
		<key>icon</key>
		<string>杭州斯文女子健身_icon.png</string>
		<key>distance</key>
		<string>2</string>
		<key>count</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>舒适堡健身中心</string>
		<key>phone</key>
		<string>0571-28998996</string>
		<key>address</key>
		<string>拱墅区丰潭路城西银泰城3幢7F001A/7F001B</string>
		<key>icon</key>
		<string>舒适堡健身中心_icon.png</string>
		<key>distance</key>
		<string>433</string>
		<key>count</key>
		<string>53</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杭州菲力伟健身</string>
		<key>phone</key>
		<string>0571-88488740</string>
		<key>address</key>
		<string>江干区九堡大家多立方公寓12幢(近地下停车场)</string>
		<key>icon</key>
		<string>杭州菲力伟健身_icon.png</string>
		<key>distance</key>
		<string>234</string>
		<key>count</key>
		<string>12</string>
	</dict>
	<dict>
		<key>name</key>
		<string>巴帝健身私教工作室</string>
		<key>phone</key>
		<string>0571-88802880 </string>
		<key>address</key>
		<string>滨江区滨盛路1870号新世界铂悦轩大厦2116室(近复生堂中医门诊部，双城国际边上)</string>
		<key>icon</key>
		<string>巴帝健身私教工作室_icon.png</string>
		<key>distance</key>
		<string>1</string>
		<key>count</key>
		<string>2</string>
	</dict>
</array>
</plist>
