<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>  热门照片</string>
		<array>
			<string>1.jpg</string>
			<string>2.jpg</string>
			<string>3.jpg</string>
			<string>4.jpg</string>
			<string>5.jpg</string>
			<string>6.jpg</string>
			<string>7.jpg</string>
			<string>8.jpg</string>
			<string>9.jpg</string>
		</array>
	</array>
	<array>
		<string>  健身穿出范儿</string>
		<array>
			<string>10.jpg</string>
			<string>11.jpg</string>
			<string>12.jpg</string>
			<string>13.jpg</string>
			<string>14.jpg</string>
		</array>
	</array>
	<array>
		<string>  我是吃货</string>
		<array>
			<string>15.jpg</string>
		</array>
	</array>
	<array>
		<string>  独霸健身房</string>
		<array>
			<string>16.jpg</string>
			<string>17.jpg</string>
		</array>
	</array>
	<array>
		<string>  花拳“秀”腿</string>
		<array>
			<string>18.jpg</string>
			<string>1.jpg</string>
			<string>2.jpg</string>
		</array>
	</array>
	<array>
		<string>  脱大衣，秀肌肉</string>
		<array>
			<string>3.jpg</string>
			<string>4.jpg</string>
			<string>5.jpg</string>
			<string>6.jpg</string>
		</array>
	</array>
	<array>
		<string>  挑战不可能</string>
		<array>
			<string>7.jpg</string>
			<string>8.jpg</string>
			<string>9.jpg</string>
			<string>10.jpg</string>
		</array>
	</array>
	<array>
		<string>  没腹肌，别说话</string>
		<array>
			<string>11.jpg</string>
			<string>3.jpg</string>
			<string>5.jpg</string>
			<string>7.jpg</string>
			<string>9.jpg</string>
			<string>13.jpg</string>
		</array>
	</array>
	<array>
		<string>  健身日记</string>
		<array>
			<string>1.jpg</string>
			<string>8.jpg</string>
			<string>16.jpg</string>
			<string>12.jpg</string>
			<string>2.jpg</string>
		</array>
	</array>
</array>
</plist>
