<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>tool1.jpg</string>
		<key>title</key>
		<string>健腹轮 腹肌健身器材 家用多功能三轮健身器</string>
		<key>price</key>
		<string>50</string>
		<key>from</key>
		<string>浙江金华</string>
		<key>countOfBuyer</key>
		<string>5638</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tool2.jpg</string>
		<key>title</key>
		<string>嘉德喜仰卧板仰卧起坐健身器家用收腹器</string>
		<key>price</key>
		<string>75</string>
		<key>from</key>
		<string>浙江金华</string>
		<key>countOfBuyer</key>
		<string>6533</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tool3.jpg</string>
		<key>title</key>
		<string>仰卧起坐器材健身家用运动拉力器减肥减肚子瘦腰神器收腹机训练机</string>
		<key>price</key>
		<string>59</string>
		<key>from</key>
		<string>广东中山</string>
		<key>countOfBuyer</key>
		<string>2308</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tool4.jpg</string>
		<key>title</key>
		<string>步龙 仰卧板仰卧起坐收腹机腹肌板</string>
		<key>price</key>
		<string>197</string>
		<key>from</key>
		<string>浙江金华</string>
		<key>countOfBuyer</key>
		<string>2605</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tool5.jpg</string>
		<key>title</key>
		<string>臂力器40kg臂力棍30kg健身器材家用50公斤握力棍60kg70kg</string>
		<key>price</key>
		<string>34</string>
		<key>from</key>
		<string>广东深圳</string>
		<key>countOfBuyer</key>
		<string>2110</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tool6.jpg</string>
		<key>title</key>
		<string>凯康引体向上室内单杠多功能单双杠运动健身器材家用单杠训练</string>
		<key>price</key>
		<string>299</string>
		<key>from</key>
		<string>浙江金华</string>
		<key>countOfBuyer</key>
		<string>1740</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tool7.jpg</string>
		<key>title</key>
		<string>AD跑步机918家用款 超静音折叠迷你正品特价 减肥电动多功能</string>
		<key>price</key>
		<string>986</string>
		<key>from</key>
		<string>浙江杭州</string>
		<key>countOfBuyer</key>
		<string>8905</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tool8.jpg</string>
		<key>title</key>
		<string>仰卧起做健身器材 家用多功能折叠仰卧板腹肌板健腹板男女收腹机</string>
		<key>price</key>
		<string>135</string>
		<key>from</key>
		<string>浙江金华</string>
		<key>countOfBuyer</key>
		<string>4241</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tool9.jpg</string>
		<key>title</key>
		<string>英尔健动感单车超静音家用磁控健身车健身器材减肥脚踏车运动自行车</string>
		<key>price</key>
		<string>498</string>
		<key>from</key>
		<string>浙江金华</string>
		<key>countOfBuyer</key>
		<string>11465</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tool10.jpg</string>
		<key>title</key>
		<string>拉力器扩胸器男仰卧起坐拉力绳弹簧臂力器多功能运动家用健身器材</string>
		<key>price</key>
		<string>24.5</string>
		<key>from</key>
		<string>山东德州</string>
		<key>countOfBuyer</key>
		<string>3630</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tool11.jpg</string>
		<key>title</key>
		<string>h型俯卧撑家用健身器材工字型俯卧撑支架钢制防滑胸肌训练器材</string>
		<key>price</key>
		<string>11.8</string>
		<key>from</key>
		<string>山东济南</string>
		<key>countOfBuyer</key>
		<string>3794</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tool12.jpg</string>
		<key>title</key>
		<string>哑铃包邮 电镀120公斤15kg健身器材 男士家用 万里通哑铃套装礼盒</string>
		<key>price</key>
		<string>66</string>
		<key>from</key>
		<string>浙江金华</string>
		<key>countOfBuyer</key>
		<string>17411</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tool13.jpg</string>
		<key>title</key>
		<string>美力德健身器材家用多功能综合训练器大型力量组合器械运动健身房</string>
		<key>price</key>
		<string>2497</string>
		<key>from</key>
		<string>江苏南通</string>
		<key>countOfBuyer</key>
		<string>168</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tool14.jpg</string>
		<key>title</key>
		<string>力士萌3mm无缝单杠加粗加厚室内单杠引体向上器 健身器材家用单杠</string>
		<key>price</key>
		<string>85</string>
		<key>from</key>
		<string>浙江金华</string>
		<key>countOfBuyer</key>
		<string>1315</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tool15.jpg</string>
		<key>title</key>
		<string>爱魅IMATE智能健身仪 锻炼腹部肌肉器材家用减肚子腹肌训练健腹器</string>
		<key>price</key>
		<string>651.42</string>
		<key>from</key>
		<string>广东深圳</string>
		<key>countOfBuyer</key>
		<string>671</string>
	</dict>
</array>
</plist>
